.section-background {
	/* background: linear-gradient(135deg, #b987ff 0%, #ffb4b4 100%); */
	background: rgb(238, 174, 202);
	background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(96, 180, 255, 0.8522714994200805) 100%);
	width: auto;
	padding: 50px 0px 50px 0px;
	margin: 30px 25px 50px 25px;
	border-radius: 3%;
	/* padding: 0%; */
}

.team-item {
	background: #ffffff;
	text-align: center;
	margin: 20px 0;
	padding: 50px 20px 40px 20px;
	border-radius: 8px 8px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.team-item:hover {
	/* background: #5F9EA0; */
	background: linear-gradient(135deg, #b987ff 0%, #ffb4b4 100%);
	/* background: linear-gradient(135deg, #ff8000 0%, #ff6d6d 100%); */
	color: white;
}


.team-item h3 {
	margin: 20px 0 1px 0 !important;
	color: #454545;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}

.section-subtitle {
	white-space: pre-line;
}

.team-item:hover h3 {
	color: #ececec;
}

.team-info {
	display: block;
	margin-bottom: 0;
	color: #000000;
}


/* .team-info p {
	color: #b9b9b9;
	font-style: italic;
}

.team-info:hover p {
	color: #ffffff;
} */

.team-info::after {

	/* background: #008aff;
    background: -webkit-linear-gradient(135deg, #6B02FF 0%, #985BEF 100%);
    background: -o-linear-gradient(bottom right, #6B02FF, #985BEF);
    background: -moz-linear-gradient(bottom right, #008aff, #1ad2fd); */

	background: linear-gradient(135deg, #6B02FF 0%, #985BEF 100%);
	display: inline-block;
	vertical-align: middle;
	content: "";
	width: 50px;
	height: 3px;
}

.team-img {

	max-width: 140px;
	padding: 6px 6px;
	background-color: #dedede;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.team-icon {
	margin-top: 25px;
	align-items: center;
	display: flex;
	gap: 4px;
	justify-content: center;
}

.team-icon li {
	display: inline-block;
	margin: 0 3px;
	align-items: center;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.team-icon div a {
	margin: 0;
	display: inline-block;
	padding: 8px 8px;
	width: 34px;
	height: 34px;
	font-size: 18px;
	line-height: 18px;
	background-color: #fff;
	border-radius: 50%;
	color: #fff;
}

.team-icon div a.twitter {
	background-color: #1DA1F2;
}

.team-icon div a.linkedin {
	background-color: #0e76a8;
}

.team-icon div a.github {
	background-color: #000000;
}


.team-icon div a:hover {
	color: #dedede;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}